faiss-cpu
langchain>=0.0.70
modal-client
pinecone-client
openai
protobuf<3.20.0
pypdf2
qdrant-client==0.11.9
sentence_transformers
textual[dev]
transformers[torch]
streamlit
streamlit-chat
st-annotated-text
watchdog